NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://vvikaskumkar393_db_user:GWd6RZv4tBpjD5au@cluster0.3qjjxw2.mongodb.net/divya_swasth?retryWrites=true&w=majority

# MONGO_URI=mongodb://127.0.0.1:27017/divya_swasth
JWT_SECRET=replace_with_a_64_character_or_longer_cryptographically_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
 
